

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    background-color: tan;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    
    font-family: 'Roboto Condensed', sans-serif;
}
h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}