.playerPage {
    background-color: linear-gradient( rgb(0, 0, 0),rgb(210, 180, 140));
    height: 2100px;
    width: 66%;
    margin: 0 auto;

    .playerBanner {
        box-shadow: inset 250px 100px 100px -150px black, 
                inset -250px 100px 100px -150px black;
        background-image: url(../images/banner1.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20px;
        width: 100%;
        height: 150px;
        background-color: white;
        .portrait-logo {
            margin: 0 auto;
            
            background-image: url(../images/dungeonkeeperlogo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 250px;
            height: 100px;
        }
    }
    
    .player-portrait-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .player-portrait-container {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            .player-portrait {
                background-image: url(../images/tavern2.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
                width: 300px;
                height: 300px;
                background-color: tan;
                border: 2px solid tan;
                .pp-portrait-items {
                    .pp-armor {
                        // background-image: url(../images/armor/armor8.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100px;
                        width: 300px;
                        position: absolute;
                        margin-top: 195px;
                        margin-right: 100px;
                    }
                    .pp-face {
                        // background-image: url(../images/faces/face4.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 150px;
                        width: 150px;
                        position: absolute;
                        margin-top: 100px;
                        margin-left: 75px;
                    }
                    .pp-helmet {
                        // background-image: url(../images/helmets/helmet8.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 200px;
                        width: 200px;
                        position: absolute;
                        margin-top: 80px;
                        margin-left: 50px;
                    }
                }
            }
            .pp-name {
                color: white;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .player-level-container {
            margin-bottom: 20px;
            padding: 20px;
            width: 90%;
            background-image: url(../images/scroll2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .pp-hTag-container {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {

                }
                
            }
            .pp-level-container {
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .pp-lvl {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-hp {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-ar {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-gp {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
            }
            .pp-buttons-container {
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                button {
                    cursor: pointer;
                    padding: 15px;
                    border: none;
                    font-size: 15px;
                    font-family: 'Sansita Swashed', cursive;
                    background-color: tan;
                    border-radius: 20px;
                    box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                    outline: none;
                }
                #levelUp:active {
                    transform: translateY(4px);
                    box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                    background-color: rgb(156, 137, 110);
                }
                #adjustHp:active {
                    transform: translateY(4px);
                    box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                    background-color: rgb(156, 137, 110);
                }
                #adjustGp:active {
                    transform: translateY(4px);
                    box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                    background-color: rgb(156, 137, 110);
                }
                
            }
            
        }

        .levelUp-modal {
            text-align: center;
            height: 300px;

            margin-bottom: 20px;
            padding: 20px;
            width: 90%;
            background-image: url(../images/scroll2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .levelUp-modal-buttons {
                button {
                    cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                }
                #levelUp-yes:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
                #levelUp-no:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
            }
            
        }
        .adjustHp-modal {
            text-align: center;
            height: 320px;

            margin-bottom: 20px;
            padding: 20px;
            width: 90%;
            background-image: url(../images/scroll2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .adjustHp-modal-buttons {
                display: flex;
                flex-direction: column;
                #pp-newHp {
                    outline: none;
                    margin: 0 auto;
                    margin-top: 20px;
                    border-radius: 200px;
                    border: none;
                    height: 40px;
                    margin-bottom: 20px;
                    width: 50%;
                    text-align: center;
                }
                button {
                    cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 30px;
                                margin-top: 10px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 20px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                }
                #confirmNewHp:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
                #cancelNewHp:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
            }
        }
        .adjustGp-modal {
            text-align: center;
            height: 320px;

            margin-bottom: 20px;
            padding: 20px;
            width: 90%;
            background-image: url(../images/scroll2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .adjustGp-modal-buttons {
                display: flex;
                flex-direction: column;
                #pp-newGp {
                    margin: 0 auto;
                    margin-top: 20px;
                    border-radius: 200px;
                    border: none;
                    height: 40px;
                    margin-bottom: 20px;
                    width: 50%;
                    text-align: center;
                    outline: none;
                }
                button {
                    cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 30px;
                                margin-top: 10px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 20px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                }
                #confirmNewGp:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
                #cancelNewGp:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
            }
        }


        .pp-divider-div {
            height: 20px;
        }
        .player-race-container {
            
            padding: 20px;
            width: 70%;
            background-image: url(../images/scroll2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           
            .race-hTag-container {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h2 {
                
                }
            }
            .pp-race-container {
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .pp-class {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-race {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-languages {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
                .pp-speed {
                    font-size: 27px;
                    font-family: 'Acme', sans-serif;
                }
            }
        }
        
    }
    
    
    .playerSheet-nav {
        margin-top: 20px;
        // padding-top: 20px;
        // padding-bottom: 20px;
        // padding-left: 100px;
        // padding-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .ps-stats-link {
            cursor: pointer;
            background-color: tan;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 50px;
            width: 25%;
            // border-top: 2px solid black;
            // border-left: 2px solid black;
            padding-top: 10px;
            text-align: center;
            font-size: 21px;
                font-family: 'Acme', sans-serif;
        }
        .ps-inventory-link {
            cursor: pointer;
            background-color: rgb(156, 137, 110);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 50px;
            width: 25%;
            // border-top: 2px solid black;
            // border-left: 2px solid black;
            padding-top: 10px;
            text-align: center;
            font-size: 21px;
                font-family: 'Acme', sans-serif;
        }
        .ps-bio-link {
            cursor: pointer;
            background-color: rgb(156, 137, 110);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 50px;
            width: 25%;
            // border-top: 2px solid black;
            // border-left: 2px solid black;
            padding-top: 10px;
            text-align: center;
            font-size: 21px;
                font-family: 'Acme', sans-serif;
        }
        .ps-settings-link {
            cursor: pointer;
            background-color: rgb(156, 137, 110);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 50px;
            width: 25%;
            // border-top: 2px solid black;
            // border-left: 2px solid black;
            padding-top: 10px;
            text-align: center;
            font-size: 21px;
                font-family: 'Acme', sans-serif;
        }
    }

    .playerSheet {
        
        background-color: tan;
        height: 1800px;
        
        .pp-stats-container {
            padding-top: 50px;
            padding-left: 35px;
            padding-right: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .pp-stats-level-con {
                display: flex;
                flex-direction: column;
                width: 45%;

                .points-left-con {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;
                    justify-content: space-between;
                    .pt-con {
                        
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .points {
                            
                            margin-left: 25px;
                            font-size: 40px;
                        }
                    }
                    
                }


                .pp-stats {
               
                
                    background-image: url(../images/parchment.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: row;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    padding: 20px;
                    .pp-stats-hTag {
                        padding-top: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h2 {
                            font-family: 'Acme', sans-serif;
                        }
                    }
                    .pp-stats-con {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .pp-str {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                        .pp-dex {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                        .pp-con {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                        .pp-int {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                        .pp-wis {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                        .pp-cha {
                            font-size: 27px;
                            font-family: 'Acme', sans-serif;
                        }
                    }
                    .pp-stats-button-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        .pp-inc-str {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-str:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                        .pp-inc-dex {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-dex:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                        .pp-inc-con {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-con:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                        .pp-inc-int {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-int:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                        .pp-inc-wis {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-wis:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                        .pp-inc-cha {
                            cursor: pointer;
                            background-image: url(../images/plus2.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 10px;
                            width: 40px;
                            height: 40px;
                            background-color: tan;
                            box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                        }
                        .pp-inc-cha:active {
                            transform: translateY(4px);
                            box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                            background-color: rgb(156, 137, 110);
                        }
                    }
    
                    
                }

                .levelUp-con {
                    padding-left: 50px;
                    padding-right: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 50px;
                    margin-top: 50px;
                    .pp-confirmUp-Btn {
                        cursor: pointer;
                        background-color: rgb(236, 220, 80);
                        border-radius: 100px;
                        box-shadow: 0px 6px 3px 4px rgb(156, 137, 110);
                        text-align: center;
                        padding-top: 17px;
                        width: 40%;
                        height: 50px;
                        font-family: 'Sansita Swashed', cursive;
                    }
                    .pp-confirmUp-Btn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    .pp-cancelUp-Btn {
                        cursor: pointer;
                        background-color: rgb(235, 45, 45);
                        border-radius: 100px;
                        box-shadow: 0px 6px 3px 4px rgb(156, 137, 110);
                        text-align: center;
                        padding-top: 17px;
                        width: 40%;
                        height: 50px;
                        font-family: 'Sansita Swashed', cursive;
                    }
                    .pp-cancelUp-Btn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(235, 45, 45);
                        background-color: rgb(156, 137, 110);
                    }
                }


            }
            





            .pp-skills {
                background-image: url(../images/parchment.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
                height: 1000px;
                width: 45%;
                padding: 20px;
                box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                .pp-skills-hTag {
                    padding-top: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h2 {
                        font-family: 'Acme', sans-serif;
                        font-size: 20px;
                    }
                }
                .pp-skills-con {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .pp-acr {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-ani {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-arc {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-ath {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-dec {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-his  {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-ins {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-inti {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-inv {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-med {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-nat {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-per {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-perf {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-pers {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-rel {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-sle {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-ste {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                    .pp-sur {
                        font-size: 20px;
                        font-family: 'Acme', sans-serif;
                    }
                }
            }
        }

        .pp-inventory-container {
           
            display: flex;
            flex-direction: column;
            .pp-weapons-container {
                
                height: 100%;
                width: 70%;
                margin: 0 auto;
                .pp-weps-title {
                    margin-top: 50px;
                    text-align: center;
                    h2 {

                    }
                }
                .pp-weps-container {
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    
                    .pp-weps-list {
                       
                        background-image: url(../images/swordShield1.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 400px;
                        
                        .pp-weps {
                            display: flex;
                            margin: 0 auto;
                            flex-direction: column;
                            text-align: center;
                            // background-color: rgba(156, 137, 110, .5);
                            font-family: 'Acme', sans-serif;
                            font-size: 27px;
                            .wepName {
                                margin-top: 20px;
                                 background-color: rgba(156, 137, 110, .5);
                            }
                            .wepAttack {
                                background-color: rgba(156, 137, 110, .5);
                            }
                            .wepDamage {
                                background-color: rgba(156, 137, 110, .5);
                            }
                            .wepType {
                                background-color: rgba(156, 137, 110, .5);
                            }
                        }
                        
                    }
                    .pp-weps-action {
                        background-image: url(../images/parchment.jpg);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        text-align: center;
                        height: 400px;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                        .pp-weps-action-con {
                            h1 {
                                margin-top: 20px;
                            }
                            button {
                                cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                            }
                            #sellWep:active {
                                transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                            }
                            #dropWep:active {
                                transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                            }
                            #cancelWep:active {
                                transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                            }
                        }

                        .sellWepFor {
                            display: flex;
                            flex-direction: column;
                            h1 {
                                margin-top: 20px;
                            }
                            #sellWepAmt {
                                margin: 0 auto;
                                width: 50%;
                                height: 50px;
                                border-radius: 200px;
                            }
                            button {
                                cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                            }
                            #confirmSellWep:active {
                                transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                            }
                            #confirmCancelWep:active {
                                transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                            }
                        }
                        
                    }
                }
            }



            .pp-armor-container {
                height: 100%;
                width: 70%;
                margin: 0 auto;

                .pp-armor-title {
                    margin-top: 20px;
                    text-align: center;
                    h2 {

                    }
                }
                .pp-armor-con {
                    background-image: url(../images/armory.png);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 400px;
                        box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    .pp-armor-list {
                        padding-top: 20px;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        width: 100%;
                        .pp-armor-names {
                            // margin-left: 100px;
                            padding-left: 20%;
                            padding-right: 20%;
                            background-color: rgba(156, 137, 110, .65);
                            font-family: 'Acme', sans-serif;
                            font-size: 27px;
                        }
                        .pp-armor-ratings {
                            // margin-right: 100px;
                            padding-left: 20%;
                            padding-right: 20%;
                            background-color: rgba(156, 137, 110, .65);
                            font-family: 'Acme', sans-serif;
                            font-size: 27px;
                        }
                    }


                    
                }


                .pp-armor-action {
                    background-image: url(../images/parchment.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h1 {
                        margin-top: 20px;
                    }
                    button {
                        cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                    }
                    #sellArmorBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    #dropArmorBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    #cancelArmorBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                }


                .pp-sellArmorFor {
                    background-image: url(../images/parchment.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h2 {
                        margin-top: 20px;
                    }
                    #sellArmorAmt {
                        margin: 0 auto;
                                width: 50%;
                                height: 50px;
                                border-radius: 200px;
                    }
                    button {
                        cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                    }
                    #confirm-sellArmor:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    #cancel-sellArmor:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                }



            }



            .pp-items-container {
                height: 100%;
                width: 70%;
                margin: 0 auto;

                .pp-items-title {
                    margin-top: 20px;
                    text-align: center;
                    h2 {

                    }
                }

                .pp-items-list {
                    background-image: url(../images/items.png);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    .pp-items {
                        margin-top: 20px;
                        font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                background-color: rgba(156, 137, 110, .65);
                    }
                }

                .pp-items-action {
                    background-image: url(../images/parchment.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    h1 {

                    }
                    button {
                        cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                    }
                    #sellItemBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    #dropItemBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);

                    }
                    #cancelItemBtn:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);

                    }

                }

                .pp-sellItemFor {
                    background-image: url(../images/parchment.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 400px;
                    box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h2 {
                        margin-top: 20px;
                    }
                    #sellItemAmt {
                        margin: 0 auto;
                                width: 50%;
                                height: 50px;
                                border-radius: 200px;
                    }
                    button {
                        cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                    }
                    #confirm-sellItem:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }
                    #cancel-sellItem:active {
                        transform: translateY(4px);
                        box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                        background-color: rgb(156, 137, 110);
                    }

                }
                
            }
        }

        .pp-biography-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            h2 {
                margin-top: 20px;
            }
            .pp-biography {
                margin: 0 auto;
                width: 73%;
                height: 600px;
                background-image: url(../images/book4.png);
               background-size: cover;
                //background-position: center;
                background-repeat: no-repeat;
               
                .pp-bio {
                    padding-top: 50px;
                    text-align: center;
                    font-family: 'Acme', sans-serif;
                    font-size: 23px;
                    padding-left: 150px;
                    padding-right: 100px;
                  
                    
                }
            }
            
            .pp-traits-con {
                margin: 0 auto;
                width: 60%;
                height: 300px;
                background-image: url(../images/parchment.jpg);
               background-size: cover;
                //background-position: center;
                background-repeat: no-repeat;
                box-shadow: 0px 6px 15px 4px rgb(3, 3, 3);
                .pp-traits {
                    padding-top: 20px;
                    text-align: center;
                    font-family: 'Acme', sans-serif;
                    font-size: 23px;
                    padding-left: 150px;
                    padding-right: 100px;
                    
                }
            }
        }

        .pp-settings-container {
            display: flex;
            flex-direction: column;
            .pp-settings-buttons {
                margin-top: 60px;
                display: flex;
            flex-direction: column;
                button {
                    cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 50%;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                }
                #switchPlayers:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
                #viewCredits:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
                #logout-btn:active {
                    transform: translateY(4px);
                                box-shadow: 0px 0px 3px 4px rgb(236, 220, 80);
                                background-color: rgb(156, 137, 110);
                }
            }
            .showCredits {
                padding-left: 25px;
                padding-right: 25px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                .creditsBack {
                    cursor: pointer;
                                outline: none;
                                margin: 0 auto;
                                height: 50px;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                border: none;
                                background-color: tan;
                                width: 200px;
                                border-radius: 200px;
                                font-size: 27px;
                                font-family: 'Acme', sans-serif;
                                box-shadow: 0px 6px 3px 4px rgb(235, 45, 45);
                }
            }
        }
        

        .levelling-guide {
            padding-top: 100px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            font-size: 17px;
            
        }
        
        
    }

}

@media (max-width: 840px) {
    .playerPage {
        width: 100%;
        .playerSheet {
            height: 1800px;
            .pp-stats-container {
                display: flex;
                flex-direction: column;
                .pp-stats-level-con {
                    width: 100%;
                    .pp-stats {
                        
                        margin-bottom: 20px;
                    }
                }
                
                .pp-skills {
                    width: 100%;
                }
            }
        }
    }
    
}

@media (min-width: 841px) {
    .playerSheet {
        height: 1800px;
    }
}